[Unit]
Description=AMC Pir8radio 3rd edition software service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
WorkingDirectory=%h/pir8radio3
ExecStart=%h/pir8radio3/pir8radio3.py
ExecStop=/usr/bin/killall python
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
